#introduction
  max-width 75rem
  margin-bottom 6rem
  text-align center

#app > *
  margin-left auto
  margin-right auto

.nq-link
  cursor pointer

// .results .vote
//   // border .5px solid var(--nimiq-card-bg)
//   height 2em
//   overflow hidden
//   display inline-block
//   // border-radius 3px
//   min-width 2px

.results
  display flex
  flex-direction column

  .votes
    display flex
    flex-direction row

    .vote
      display flex
      flex-shrink 0
      height 2em
      overflow hidden
      // min-width 2px

.quote
  text-align center
  font-weight bold
  font-size 120%
  &:before
    content '“'
  &:after
    content '”'

.time
  text-align center

.note
  font-size 80%

.choices
  padding 1em 0

  .choice
    label
      min-width 10em
      display inline-block
    .ranking &
      cursor: move
      &:before
        content "⇅ "
        opacity  .333
      &.sortable-ghost
        opacity .333
