nimiq-blue = #1F2348

#introduction
  max-width 75rem
  margin-bottom 6rem
  text-align center

#app
  display flex
  flex-direction row
  justify-content center

  &.error
    flex-direction column
    margin auto

.nq-link
  cursor pointer

p
  font-size 2rem
  line-height 1.3

.i > *
  display none

.nq-card
  // width 52.5rem
  min-height 70.5rem
  flex 0 0 52.5rem
  max-width 100vw
  display flex
  flex-direction column
  align-self center

  .nq-card-header
    flex 0 0
    position relative
    h1
      font-size 3rem
      line-height 1.3
      font-weight bold
      margin 0 1.5rem 1.5rem 1.5rem
    .sub
      margin 0
      line-height 1.5

      a
        font-weight 600

    .tooltip
      position absolute
      top 2rem
      right 2rem
      font-size 2rem
      text-align right

      svg
        color rgba(nimiq-blue, .25)

      .tooltip-box
        p
          font-size inherit

        :first-child
          margin-top 0

        :last-child
          margin-bottom 0

  .nq-card-body
    flex 1 0
    display flex
    flex-direction column
    text-align center

  .nq-card-footer
    flex 0 0
    padding-left 4rem
    padding-right 4rem
    text-align center

    .nq-button
      margin-top 4rem
      margin-bottom 1rem
      min-width 33.75rem

.note
  opacity .5
  font-size: 1.75rem
  line-height 2.125rem
  font-weight 600

  &.small
    font-size 1.5rem

.voting
  .choices
    padding 0
    display flex
    flex 1 0

    .choice
      input
        display none
      label
        font-weight bold
        display flex
        justify-content center
        align-items center
        font-size 2.5rem
        line-height 1
        cursor pointer

  &.singleChoice, &.multipleChoice
    .choices
      flex-direction row
      justify-content space-between
      height 100%

      .choice
        flex 0
        display flex
        flex-direction row
        justify-content space-between
        align-items center
        label
          flex 1 0 calc(100% - 1rem)
          color rgba(nimiq-blue, .5)
          border .25rem solid rgba(nimiq-blue, .16)
          border-radius .5rem
          text-align center
          height calc(100% - 2rem)
          transition color .3s, border-color .3s

          &:hover
            color rgba(nimiq-blue, .7)
            border-color rgba(nimiq-blue, .3)

        input:checked + label
          background nimiq-blue
          color white

      &.wrap
        flex-wrap wrap

      &.two .choice
        flex-basis calc(50% - 1rem)
        min-height 12.5rem

      &.three .choice
        flex-basis  calc(33.333% - 1rem)
        height 12.5rem

  &.ranking
    .choices
      flex-direction row
      justify-content center
      // height 100%
      height = 4.25rem

      .left, .right
        display flex
        flex-direction column

        .number, .choice
          height height
          margin-bottom 1rem
          border-radius .5rem
          font-weight bold
          font-size 2.5rem
          line-height height

      .left
        flex 0

        .number
          border .25rem solid rgba(nimiq-blue, .16)
          color rgba(nimiq-blue, .4)
          width 1.666 * height
          line-height (height - .4rem)
          margin-right 1rem

      .right

        .choice
          background rgba(nimiq-blue, .06)
          background-image url("/vote/img/grip.svg")
          background-repeat no-repeat
          background-position 1rem center
          color nimiq-blue
          padding 0 1rem 0 3rem
          text-align left
          cursor move
          // flex 0
          // display flex
          // flex-direction row
          // justify-content space-between
          // align-items center

  .nq-card-footer
    position relative
    .error
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      background white
      border .25rem solid var(--nimiq-red)
      border-radius .5rem
      padding 0 2rem
      .close
        position absolute
        top 1.5rem
        right 1.5rem
        cursor pointer
        opacity .2
    .note
      line-height 2.625rem

.results
  .nq-card-header, .nq-card-body
    padding-bottom: 2rem
  .nq-card-body
    padding-top 0
  .graph
    flex 1
    display flex
    flex-direction row
    justify-content safe center
    overflow auto hidden
    &.many // content safe center works in Firefox only so far, unfortunately
      justify-content flex-start

    .result
      display flex
      flex-direction column
      // margin-right 3rem

      & + .result
        margin-left 3rem

      .votes
        flex 1
        display flex
        flex-direction column
        align-items center

        .vote
          display flex
          flex-shrink 0
          width 8rem
          min-height .125rem
          margin-top .125rem
          overflow hidden
          border-radius .5rem
          &:not(.space)
            box-shadow inset -2.25rem -2.25rem 3rem -2rem rgba(0,0,0,.1)
          &.others
            background: var(--nimiq-blue)

          // &.mini + .mini
          //   margin-top 0


      .label
        font-size 2.5rem
        font-weight bold
        margin-top 2.5rem
        white-space nowrap

  .graph-description
    margin-top 0

  .vote-again
    margin 1.75rem 0 1rem
